.container {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex li a{
    font-size: 20px;
    line-height: 40px;
    color: #7F7F7F;
    text-decoration: none;
    font-family: 'Archy EDT-Thin';
    margin:40px;
}
.header {
	padding: 52px 142px;
	font-size: 20px;
	font-family: 'ArchyEDT-Thin';
	line-height: 27px;
	letter-spacing: 1px;
	flex-wrap: wrap;
}
.navbar a{
	margin-right: 40px;
}
.search-1 {
    cursor: pointer;
	margin-right: 0;
}
.banner{
    height: 613px;
	width: 100%;
	background-image: url(../images/card-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}

.popular-articles{
	width: 100%;
}
	
.last-added{
	width: 100%;
}

.load{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-family: 'ArchyEDT-Thin';
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 50px;
}
.load span{
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.popular-1{
	margin-bottom: 50px;
	font-size: 40px;
	font-family: 'ArchyEDT-Thin';
	line-height: 53px;
	letter-spacing: 1px;
}
.box-1{
	width: 483px;
}
.box-1 img{
	width: 100%;
}
.article-title{
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.article-title h2 {
	margin: 20px 0; 
	font-size: 30px;
	font-family: 'ArchyEDT-Thin';
	line-height: 40px;
	letter-spacing: 1px;
}
.article-title p {
	font-size: 18px;
	font-family: sans-serif;
	line-height: 24px; 
}
.article-title a:last-child {
	align-self: flex-end;
	margin: 50px 0 30px 0;
	font-size: 24px;
	font-family: 'ArchyEDT-Thin';
	line-height: 32px;
}


  footer {
	padding: 40px 0;
	background-color: #2E2E2E;
}
.contact{
    font-family: 'ArchyEDT-Thin';
	letter-spacing: 1px;
}
.contact h2{
	font-size: 20px;
	line-height: 27px;
    color:#F2F2F2;
}
.address{
    font-family: 'ArchyEDT-Thin';
	letter-spacing: 1px;
}
.address h2{
	font-size: 20px;
	line-height: 27px;
    color:#F2F2F2;
}

.address p{
    font-size: 13px;
	line-height: 17px;
    color:#F2F2F2;
}
.contact p{
    font-size: 13px;
	line-height: 17px;
    color:#F2F2F2;
}
.social a:first-child img {
	margin-right: 30px;
} 

@media (max-width: 1024px) {
	.header {
		padding: 30px;
	}

	.navbar {
		display: none;
	}

	.banner {
		height: 400px;
		background-image: url(../images/card-4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
	}
	.popular-articles{
		padding: 30px;
	}
	.last-added{
		padding: 30px;
	}
	.articles {
		justify-content: center;
	}
.popular-1{
	margin-bottom: 0px;
	text-align: center;
}
.box-1{
	margin-top: 40px;
}
footer .container {
	flex-direction: column;
}
.logo-2{
	display: none;
}
.contact{
	margin-bottom: 30px;
	text-align: center;
}
.address{
	margin-bottom: 30px;
	text-align: center;
}
}


